body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background: #fff;
    width: 100%;
}

.logo-text{
    text-transform: uppercase;
    background-color: #63c6ae;
    font-size: 24px;
    margin: 0;
    padding: 20px;
    display: inline-block; /*Por ser uma tag de linha, usamos isso para que possamos permitir que um elemento fique lado a lado com outros elemento */
    text-decoration: none;
    color: white;
    font-weight: #fff;
    display: block;
    float: left;
}

.header__nav{
   clear: left;
}

.header__nav ul{
    margin: 0;
    padding: 0;
}

.header__nav li{
    list-style-type: none;
    background: #242c2c;
    text-align: center;
    border-bottom: 1px dotted rgba(255, 255, 255, .2);
    text-transform: uppercase;
    color: #586165;    
}

.header__nav a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    color: #586165;
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 25px 0; /*Esse padding vai permitir que a área clicável corresponda ao desejado*/
    transition: .8s ease;
}

.header__nav a:hover{
    color: #63c6ae;

}
.header__btnMenu{
    
}